<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="shared/header :: links">
    <title>Movies</title>
</head>

<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-4" id="idMovie">
            <p th:each="movie : ${moviesList}">
                <span th:text="${movie.title}"></span>
                <span th:text="${movie.producent}"></span>
                <span th:text="${movie.productionDate}"></span>
            </p>

            <a th:href="@{add-movie}" class="btn btn-warning btn-raised">New movie</a>
        </div>
    </div>
</div>
</body>
</html>